In [2]:
import pandas as pd
import time
from datetime import datetime
import scipy.spatial
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn import model_selection
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Lasso
from sklearn.linear_model import HuberRegressor 
from sklearn.linear_model import ElasticNet
from sklearn.linear_model import LassoLars
from sklearn.linear_model import OrthogonalMatchingPursuit
from sklearn.linear_model import BayesianRidge
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import RandomForestRegressor

In [3]:
postulaciones = pd.read_csv('Data/Postulaciones/Postulaciones-merge.csv')

In [4]:
postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 190.2+ MB

In [30]:
# Intento reducir el uso de memoria
postulaciones.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8311264 entries, 0 to 8311263
Data columns (total 3 columns):
idaviso             int64
idpostulante        object
fechapostulacion    object
dtypes: int64(1), object(2)
memory usage: 1.1 GB

In [31]:
for dtype in ['int','object']:
    selected_dtype = postulaciones.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb))

Average memory usage for int columns: 31.70 MB
Average memory usage for object columns: 369.36 MB

In [37]:
import numpy as np
int_types = ["uint8","uint32", "int8", "int16","int32","int64"]
for it in int_types:
    print(np.iinfo(it))

Machine parameters for uint8
---------------------------------------------------------------
min = 0
max = 255
---------------------------------------------------------------

Machine parameters for uint32
---------------------------------------------------------------
min = 0
max = 4294967295
---------------------------------------------------------------

Machine parameters for int8
---------------------------------------------------------------
min = -128
max = 127
---------------------------------------------------------------

Machine parameters for int16
---------------------------------------------------------------
min = -32768
max = 32767
---------------------------------------------------------------

Machine parameters for int32
---------------------------------------------------------------
min = -2147483648
max = 2147483647
---------------------------------------------------------------

Machine parameters for int64
---------------------------------------------------------------
min = -9223372036854775808
max = 9223372036854775807
---------------------------------------------------------------

In [34]:
# We're going to be calculating memory usage a lot,
# so we'll create a function to save us some time!

def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

postulaciones_int = postulaciones.select_dtypes(include=['int'])
converted_int = postulaciones_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(postulaciones_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([postulaciones_int.dtypes,converted_int.dtypes],axis=1)
compare_ints.columns = ['before','after']
compare_ints.apply(pd.Series.value_counts)

63.41 MB
31.71 MB

        before  after
uint32     NaN    1.0
int64      1.0    NaN

In [38]:
optimized_postulaciones = postulaciones.copy()

optimized_postulaciones[converted_int.columns] = converted_int

print(mem_usage(postulaciones))
print(mem_usage(optimized_postulaciones))

1171.48 MB
1139.78 MB

In [ ]:
postulaciones_obj = postulaciones.select_dtypes(include=['object']).copy()
postulaciones_obj.describe()

# Obtengo postulantes no duplicados haber si asi aumento la cantidad

In [5]:
postulantes_en_postulaciones = postulaciones.drop_duplicates(subset='idpostulante', keep='first')

In [6]:
postulantes_en_postulaciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348883 entries, 0 to 8311263
Data columns (total 3 columns):
idaviso             348883 non-null int64
idpostulante        348883 non-null object
fechapostulacion    348883 non-null object
dtypes: int64(1), object(2)
memory usage: 10.6+ MB

In [7]:
postulantes_en_postulaciones.drop(['idaviso','fechapostulacion'],inplace=True,axis=1)

/home/lucio/Documentos/Datos/lib/python3.6/site-packages/pandas/core/frame.py:3694: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [8]:
postulantes_educacion = pd.read_csv('Data/Postulantes-Educacion/postulantes_educacion-merge.csv')

In [9]:
postulantes_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447909 entries, 0 to 447908
Data columns (total 4 columns):
idpostulante       447909 non-null object
nombre             447909 non-null object
estado             447909 non-null object
nombre_numerico    447909 non-null int64
dtypes: int64(1), object(3)
memory usage: 13.7+ MB

In [10]:
postulantes_genero_edad = pd.read_csv('Data/Postulantes-Genero-Edad/postulantes_genero_y_edad-merge.csv')

In [11]:
postulantes_genero_edad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504407 entries, 0 to 504406
Data columns (total 3 columns):
idpostulante       504407 non-null object
fechanacimiento    477884 non-null object
sexo               504407 non-null object
dtypes: object(3)
memory usage: 11.5+ MB

In [12]:
#Hago un merge de educacion y genero-edad
postulantes_merge = pd.merge(postulantes_genero_edad,postulantes_educacion,how='left',on='idpostulante')

In [13]:
postulantes_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 504407 entries, 0 to 504406
Data columns (total 6 columns):
idpostulante       504407 non-null object
fechanacimiento    477884 non-null object
sexo               504407 non-null object
nombre             447909 non-null object
estado             447909 non-null object
nombre_numerico    447909 non-null float64
dtypes: float64(1), object(5)
memory usage: 26.9+ MB

In [14]:
#Agrego postulantes que no esten en el merge anterior
postulantes_merge2 = pd.merge(postulantes_merge,postulantes_en_postulaciones,how='outer')

In [15]:
postulantes_merge2.drop_duplicates()

,idpostulante,fechanacimiento,sexo,nombre,estado,nombre_numerico
0,6MM,1985-01-01,MASC,NaN,NaN,NaN
1,Nzz,NaN,NO_DECLARA,NaN,NaN,NaN
2,ZX1,NaN,NO_DECLARA,NaN,NaN,NaN
3,Nq5,NaN,NO_DECLARA,NaN,NaN,NaN
4,ebE,1952-07-07,MASC,Posgrado,Graduado,4.0
5,N1x,NaN,NO_DECLARA,NaN,NaN,NaN
6,52aw,NaN,NO_DECLARA,NaN,NaN,NaN
7,NAjM,1962-06-09,FEM,NaN,NaN,NaN
8,eRk9,NaN,NO_DECLARA,NaN,NaN,NaN
9,a6OE,NaN,NO_DECLARA,NaN,NaN,NaN
10,ZjlZ,1970-01-25,MASC,Master,En Curso,5.0
11,8wPl,1973-03-13,MASC,NaN,NaN,NaN
12,ZjMR,NaN,NO_DECLARA,NaN,NaN,NaN
13,1lX3,NaN,NO_DECLARA,NaN,NaN,NaN
14,aR9W,1971-03-29,MASC,Universitario,Graduado,3.0
15,E0AJ,1965-09-25,MASC,Master,Graduado,5.0
16,9lrZ,1966-05-08,FEM,Posgrado,Graduado,4.0
17,1zpz,1965-12-29,MASC,NaN,NaN,NaN
18,8Zlx,NaN,NO_DECLARA,NaN,NaN,NaN
19,YljJ,NaN,NO_DECLARA,NaN,NaN,NaN
20,NjlD,1981-06-02,FEM,Universitario,Graduado,3.0
21,ZaO5,1978-08-10,FEM,Universitario,Abandonado,3.0
22,NdJl,1969-05-09,MASC,Posgrado,En Curso,4.0
23,5kNq,1973-02-08,MASC,Posgrado,Graduado,4.0
24,axx9,NaN,NO_DECLARA,NaN,NaN,NaN
25,5lmN,NaN,NO_DECLARA,NaN,NaN,NaN
26,NezB,NaN,NO_DECLARA,NaN,NaN,NaN
27,8rER,NaN,NO_DECLARA,NaN,NaN,NaN
28,8rYD,1974-12-11,MASC,Master,En Curso,5.0
29,evl4,NaN,NO_DECLARA,NaN,NaN,NaN
...,...,...,...,...,...,...
504377,EzEkQO4,1990-11-18,MASC,Universitario,Graduado,3.0
504378,KBakbem,1991-01-15,MASC,Secundario,Graduado,1.0
504379,dY5XGpM,1996-09-08,FEM,Universitario,En Curso,3.0
504380,8M2DjEz,NaN,MASC,NaN,NaN,NaN
504381,KBaPx50,1976-11-23,FEM,Universitario,Abandonado,3.0
504382,qe6pDN1,NaN,FEM,Secundario,Graduado,1.0
504383,EzENJd8,1966-08-21,MASC,Universitario,Graduado,3.0
504384,8M2Djvj,NaN,FEM,Universitario,En Curso,3.0
504385,mz5RvN3,1997-11-27,MASC,NaN,NaN,NaN
504386,owaNDRr,1999-02-22,FEM,Universitario,En Curso,3.0
504387,4rNvx2e,1997-08-31,MASC,Secundario,Graduado,1.0
504388,5mPW2bk,1981-12-29,FEM,NaN,NaN,NaN
504389,96X12A8,1997-07-14,FEM,Universitario,En Curso,3.0
504390,VNrLBDj,1972-12-23,FEM,NaN,NaN,NaN
504391,EzeBDX4,1994-04-06,MASC,NaN,NaN,NaN
504392,Oqrz6Qx,1996-02-22,MASC,Secundario,Graduado,1.0
504393,QNrmdKl,1997-08-13,FEM,Terciario/Técnico,En Curso,2.0
504394,5mPW23k,1997-06-05,FEM,Secundario,Graduado,1.0
504395,Rzrdwmx,1996-09-06,MASC,Secundario,Graduado,1.0
504396,akjL6zE,1992-01-29,MASC,Secundario,Graduado,1.0
504397,6rP1MQ4,NaN,NO_DECLARA,NaN,NaN,NaN
504398,X95LrOP,1997-02-15,FEM,Universitario,En Curso,3.0
504399,vVjAYEe,1991-07-08,FEM,Universitario,En Curso,3.0
504400,pzdEYPr,1992-09-25,MASC,NaN,NaN,NaN
504401,NzrwMV4,1998-09-04,FEM,Universitario,En Curso,3.0
504402,rmdoK5e,NaN,NO_DECLARA,NaN,NaN,NaN
504403,5mPWaDz,1994-11-08,MASC,Universitario,Graduado,3.0
504404,GNZxwYA,1998-11-12,MASC,Secundario,Graduado,1.0
504405,EzeB090,1979-02-04,FEM,Secundario,Abandonado,1.0
504406,3NP1lwa,1994-10-03,MASC,Secundario,En Curso,1.0

# Avisos detalle

In [16]:
avisos_detalle = pd.read_csv('Data/Avisos-Detalle/Avisos-Detalle-merge.csv')

In [17]:
avisos_detalle.rename(index=str, columns={"idaviso": "idAviso"},inplace=True)
avisos_detalle.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45969 entries, 0 to 45968
Data columns (total 11 columns):
idAviso                 45969 non-null int64
idpais                  45969 non-null int64
titulo                  45969 non-null object
descripcion             45969 non-null object
nombre_zona             45969 non-null object
ciudad                  225 non-null object
mapacalle               3444 non-null object
tipo_de_trabajo         45969 non-null object
nivel_laboral           45634 non-null object
nombre_area             45969 non-null object
denominacion_empresa    45955 non-null object
dtypes: int64(2), object(9)
memory usage: 4.2+ MB

In [ ]:
for dtype in ['float','int','object']:
    selected_dtype = avisos_detalle.select_dtypes(include=[dtype])
    mean_usage_b = selected_dtype.memory_usage(deep=True).mean()
    mean_usage_mb = mean_usage_b / 1024 ** 2
    print("Average memory usage for {} columns: {:03.2f} MB".format(dtype,mean_usage_mb

# Avisos online

In [18]:
avisos_online = pd.read_csv('Data/Avisos-Online/Avisos-Online-merge.csv')

In [19]:
avisos_online.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9886 entries, 0 to 9885
Data columns (total 1 columns):
idaviso    9886 non-null int64
dtypes: int64(1)
memory usage: 77.3 KB

# Vistas

In [20]:
vistas = pd.read_csv('Data/Vistas/Vistas-merge.csv')

In [ ]:
vistas.info()

# Quito duplicados para luego ver de que tipo es cada aviso
unique_advises = vistas.drop_duplicates(subset='idAviso', keep='first')

unique_advises.info()

# Agrego la informacion de avisos detalles
unique_advises = pd.merge(unique_advises,avisos_detalle,how='left',on='idAviso')

unique_advises = unique_advises[unique_advises['tipo_de_trabajo'].notnull()]
unique_advises.info()

unique_postulantes_vistas = vistas.drop_duplicates(subset='idpostulante', keep='first')

unique_postulantes_vistas.info()

groupby_aviso_postulante = vistas.groupby(['idpostulante','idAviso']).size()

asd = groupby_aviso_postulante['0002q']
aa = asd.index
aa.get_values()

In [21]:
# Creo funcion para recuperar lista de TIPOS DE TRABAJO de avisos que le interesan a un postulante de acuerdo
# a lo que visita y se postula

def obtener_lista_de_intereses(idpostulante):
    lista = []
    lista_de_ids_avisos_postulados = obtener_lista_de_ids_avisos_postulados(idpostulante)
    for id in lista_de_ids_avisos_postulados:
        tipo_de_trabajo = avisos_detalle[avisos_detalle['idAviso'] == id]['tipo_de_trabajo']
        lista.append(tipo_de_trabajo)
    lista_de_ids_avisos_visitados = obtener_lista_de_ids_avisos_visitados(idpostulante)
    if (lista_de_ids_avisos_visitados is not None):
        for id in lista_de_ids_avisos_visitados:
            tipo_de_trabajo = avisos_detalle[avisos_detalle['idAviso'] == id]['tipo_de_trabajo']
            lista.append(tipo_de_trabajo)    
    return lista
    
# Creo funcion para recuperar los ids de avisos a los que se postula un postulante
def obtener_lista_de_ids_avisos_postulados(idpostulante):
    data = postulaciones[postulaciones['idpostulante'] == idpostulante]
    return data['idaviso'].tolist()

# Creo funcion para recuperar los ids de avisos que visita un postulante
def obtener_lista_de_ids_avisos_visitados(idpostulante):
    try:
        return groupby_aviso_postulante.pop(idpostulante).index.get_values()
    except KeyError:
        return None

In [20]:
# Agrego columna con cantidad de postulaciones por postulante
serie_postulaciones = postulaciones['idpostulante'].value_counts()
def cant_postulaciones_postulante(idpostulante):
    try:
        return serie_postulaciones[idpostulante]
    except KeyError:
        return 0

In [22]:
groupby_aviso_postulante = vistas.groupby(['idpostulante','idAviso']).size()

In [ ]:
groupby_aviso_postulante.

In [ ]:
postulantes_merge2['intereses'] = None
postulantes_merge2.loc[:,'intereses'] = postulantes_merge2['idpostulante'].apply(obtener_lista_de_intereses)

In [ ]:
postulantes_merge2['cant_postulaciones_a_avisos'] = 0
postulantes_merge2.loc[:,'cant_postulaciones_a_avisos'] = postulantes_merge2['idpostulante'].apply(cant_postulaciones_postulante)

# Avisos online

# Training test

In [ ]:
trainingSet =

# Testing set

In [22]:
testingSet = pd.read_csv('Data/test_final_100k.csv')

In [49]:
testingSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 3 columns):
id              100000 non-null int64
idaviso         100000 non-null int64
idpostulante    100000 non-null object
dtypes: int64(2), object(1)
memory usage: 2.3+ MB

In [50]:
# Agrego informacion al set de testing con los datos que contamos

In [24]:
testingSet.drop_duplicates(subset='idaviso', keep='first')

          id     idaviso idpostulante
0          0      739260       6M9ZQR
3          3      758580       1Q35ej
6          6      776420       aZJ2XN
9          9      820850       6ZBD33
13        13      914880       6q6eNl
16        16     1112360       6kRZ44
20        20     1141070       edaNB4
23        23     1144960       NEJjvL
26        26     1145170       Y9d5Bw
29        29     1176260       ZvQJ2z
32        32     1218870       EPxz0b
36        36     1227050       8X0MX3
40        40     1229390       88oXwD
44        44     1263850       6v1d5l
47        47     1287650       1x0AAj
50        50     1294380       YqJbBZ
53        53     1309510       ER5xK0
56        56     1479590       8X0EZl
60        60     1483300       8wb9AL
64        64     1483330       82lo1j
68        68     1491320       eRrxkW
72        72     1493980       e4q6JW
76        76     1499190       a5zYN0
80        80     1508460       Ee6maJ
84        84     1522870       YoKKlw
87        87     1523020       85wAxD
90        90     1527720       NJGXXl
93        93     1529620       1bpzRB
96        96     1530860       1zJ4MB
99        99     1551320       ZR4jk5
...      ...         ...          ...
99910  99910  1112514800       1x11PO
99913  99913  1112514811       6b1pNj
99916  99916  1112514813       6q6rxj
99919  99919  1112514839       5R19LN
99922  99922  1112514891       50plKN
99925  99925  1112514892       eZ8Z3W
99928  99928  1112514923       6bpbX3
99931  99931  1112514929       8E8Mkj
99934  99934  1112514965       Eboda2
99937  99937  1112514975       YqJ8Ar
99940  99940  1112514983       aZJajq
99943  99943  1112514984       NROZYl
99946  99946  1112514989       Z0kzPP
99949  99949  1112514999       Ewq8N2
99952  99952  1112515000       6bpK6r
99955  99955  1112515015       NmG8R5
99958  99958  1112515019       arE39E
99961  99961  1112515021       509b4q
99964  99964  1112515030       12W3PO
99967  99967  1112515039       YvW5x1
99970  99970  1112515048       EbooLJ
99973  99973  1112515056       8RODvz
99976  99976  1112515069       eZ8294
99979  99979  1112515080       8EQpWl
99982  99982  1112515081       EwKNO6
99985  99985  1112515099       eprYVE
99988  99988  1112515103       Y6xQ4q
99991  99991  1112515105       ZREdK1
99994  99994  1112515111       YqJDoD
99997  99997  1112515116       NmpwAB

[14140 rows x 3 columns]