# GradientBoostingClassifier

In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier  #GBM algorithm
from sklearn import metrics   #Additional scklearn functions
from sklearn.model_selection import GridSearchCV   #Perforing grid search
from sklearn.preprocessing import LabelEncoder
from pandas.api.types import CategoricalDtype

import matplotlib.pylab as plt
%matplotlib inline
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 12, 4

# Utilizando datasets sin encoding

In [2]:
dtypes = pd.Series({'sepostulo': np.dtype('uint8'),'edad': np.dtype('uint16')})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

trainingSet = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/Data/TRAINING_SET_SIN_ENCODING.csv',dtype=column_types)
trainingSet.drop(['Unnamed: 0','denominacion_empresa'],axis=1,inplace=True)
trainingSet[["sexo",'nombre','estado','nombre_zona',
             'tipo_de_trabajo','nivel_laboral',
             'nombre_area']] = trainingSet[["sexo",'nombre','estado','nombre_zona',
                                            'tipo_de_trabajo','nivel_laboral',
                                            'nombre_area']].astype('category')

In [5]:
trainingSet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9439964 entries, 0 to 9439963
Data columns (total 9 columns):
sepostulo          uint8
sexo               category
nombre             category
estado             category
edad               uint16
nombre_zona        category
tipo_de_trabajo    category
nivel_laboral      category
nombre_area        category
dtypes: category(7), uint16(1), uint8(1)
memory usage: 99.0 MB

# Me quedo con 1.5M de registros random

In [3]:
trainingSet_samples = trainingSet.sample(n=1500000,random_state=50)

In [4]:
trainingSet_samples['sepostulo'].value_counts()

1    942921
0    557079
Name: sepostulo, dtype: int64

# Hago dummificacion

In [5]:
trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.sexo))

trainingSet_samples.drop('sexo',axis=1, inplace=True)

trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nombre))

trainingSet_samples.drop('nombre',axis=1, inplace=True)

trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.estado))

trainingSet_samples.drop('estado',axis=1, inplace=True)

trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nombre_zona))

trainingSet_samples.drop('nombre_zona',axis=1, inplace=True)

trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.tipo_de_trabajo))

trainingSet_samples.drop('tipo_de_trabajo',axis=1, inplace=True)

trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nivel_laboral,
                                                             prefix="Nivel_laboral"))

trainingSet_samples.drop('nivel_laboral',axis=1, inplace=True)

#trainingSet_samples = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nombre_area))
# LO SAQUE PORQUE MI MAQUINA NO SE BANCA POR AHI LA DE UDS SI AUNQUE AGREGA MUCHAS COLUMAS(188)

trainingSet_samples.drop('nombre_area',axis=1, inplace=True)

In [5]:
from sklearn import ensemble
from sklearn import metrics

from sklearn.model_selection import train_test_split
columnas = trainingSet_samples.columns.drop("sepostulo")
xtrain, xtest, ytrain, ytest = train_test_split(trainingSet_samples[columnas], 
                                        trainingSet_samples['sepostulo'],test_size=0.30, random_state=12)

params = {'n_estimators': 500, 'max_depth': 3, 'subsample': 0.5,
          'learning_rate': 0.01, 'min_samples_leaf': 1, 'random_state': 3}
clf = ensemble.GradientBoostingClassifier(**params)
clf.fit(xtrain, ytrain) #trains
y_pred = clf.predict(xtest)  #predicts
print('confusion matrix')
print(metrics.confusion_matrix(ytest, y_pred))
print('classification report')
print(metrics.classification_report(ytest, y_pred))
print("-----------------------------------------------------------------------------------------")
print("Accuracy is :")
print(metrics.accuracy_score(ytest, y_pred))
print('Area under the curve : %f' % (metrics.roc_auc_score(ytest, y_pred)))

confusion matrix
[[  2056 164830]
 [  1370 281744]]
classification report
             precision    recall  f1-score   support

          0       0.60      0.01      0.02    166886
          1       0.63      1.00      0.77    283114

avg / total       0.62      0.63      0.49    450000

-----------------------------------------------------------------------------------------
Accuracy is :
0.6306666666666667
Area under the curve : 0.503740

# TestingSet sin encodear

In [28]:
dtypes = pd.Series({'estado': CategoricalDtype(categories=['Abandonado', 'En Curso', 'Graduado'], 
                                               ordered=False), 'idpostulante': np.dtype('object'),
                    'nombre': CategoricalDtype(categories=['Doctorado', 'Master', 'Otro', 'Posgrado',
                            'Secundario','Terciario/Técnico', 'Universitario'],ordered=False),
                    'sexo': CategoricalDtype(categories=['FEM', 'MASC', 'NO_DECLARA'], ordered=False)})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

testingSet_CON_NAN = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/TestingSets/testingSet_CON_NAN.csv',dtype=column_types)
testingSet_CON_NAN.drop('Unnamed: 0',inplace=True,axis=1)
testingSet_CON_NAN.drop(columns=['idpostulante','denominacion_empresa','nombre_area'],inplace=True) #No sirve para el algoritmo de ML

# Aplico dummificacion

In [21]:
testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.sexo))

testingSet_CON_NAN.drop('sexo',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nombre))

testingSet_CON_NAN.drop('nombre',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.estado))

testingSet_CON_NAN.drop('estado',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nombre_zona))

testingSet_CON_NAN.drop('nombre_zona',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.tipo_de_trabajo))

testingSet_CON_NAN.drop('tipo_de_trabajo',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nivel_laboral,
                                                             prefix="Nivel_laboral"))

testingSet_CON_NAN.drop('nivel_laboral',axis=1, inplace=True)

#testingSet_CON_NAN = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nombre_area))

In [22]:
# Get missing columns in the training test
missing_cols = set( trainingSet_samples.columns ) - set( testingSet_CON_NAN.columns )
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    testingSet_CON_NAN[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
testingSet_CON_NAN = testingSet_CON_NAN[trainingSet_samples.columns]

In [15]:
testingSet_CON_NAN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
sepostulo                                             100000 non-null int64
edad                                                  93375 non-null float64
FEM                                                   100000 non-null uint8
MASC                                                  100000 non-null uint8
NO_DECLARA                                            100000 non-null uint8
Doctorado                                             100000 non-null uint8
Master                                                100000 non-null uint8
Otro                                                  100000 non-null uint8
Posgrado                                              100000 non-null uint8
Secundario                                            100000 non-null uint8
Terciario/Técnico                                     100000 non-null uint8
Universitario                                         100000 non-null uint8
Abandonado                                            100000 non-null uint8
En Curso                                              100000 non-null uint8
Graduado                                              100000 non-null uint8
Buenos Aires (fuera de GBA)                           100000 non-null uint8
Capital Federal                                       100000 non-null uint8
Catamarca                                             100000 non-null uint8
Cordoba                                               100000 non-null uint8
Corrientes                                            100000 non-null uint8
GBA Oeste                                             100000 non-null uint8
Gran Buenos Aires                                     100000 non-null uint8
La Plata                                              100000 non-null uint8
Rosario                                               100000 non-null uint8
San Juan                                              100000 non-null uint8
Santa Cruz                                            100000 non-null uint8
Tucuman                                               100000 non-null uint8
Fines de Semana                                       100000 non-null uint8
Full-time                                             100000 non-null uint8
Part-time                                             100000 non-null uint8
Pasantia                                              100000 non-null uint8
Por Contrato                                          100000 non-null uint8
Por Horas                                             100000 non-null uint8
Primer empleo                                         100000 non-null uint8
Teletrabajo                                           100000 non-null uint8
Temporario                                            100000 non-null uint8
Voluntario                                            100000 non-null int64
Nivel_laboral_Gerencia / Alta Gerencia / Dirección    100000 non-null uint8
Nivel_laboral_Jefe / Supervisor / Responsable         100000 non-null uint8
Nivel_laboral_Junior                                  100000 non-null uint8
Nivel_laboral_Otro                                    100000 non-null uint8
Nivel_laboral_Senior / Semi-Senior                    100000 non-null uint8
dtypes: float64(1), int64(2), uint8(39)
memory usage: 6.0 MB

# Aplico imputing a la edad

In [23]:
testingSet_CON_NAN['edad'].fillna(testingSet_CON_NAN['edad'].mode()[0],inplace=True)
testingSet_CON_NAN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
sepostulo                                             100000 non-null int64
edad                                                  100000 non-null float64
FEM                                                   100000 non-null uint8
MASC                                                  100000 non-null uint8
NO_DECLARA                                            100000 non-null uint8
Doctorado                                             100000 non-null uint8
Master                                                100000 non-null uint8
Otro                                                  100000 non-null uint8
Posgrado                                              100000 non-null uint8
Secundario                                            100000 non-null uint8
Terciario/Técnico                                     100000 non-null uint8
Universitario                                         100000 non-null uint8
Abandonado                                            100000 non-null uint8
En Curso                                              100000 non-null uint8
Graduado                                              100000 non-null uint8
Buenos Aires (fuera de GBA)                           100000 non-null uint8
Capital Federal                                       100000 non-null uint8
Catamarca                                             100000 non-null uint8
Cordoba                                               100000 non-null uint8
Corrientes                                            100000 non-null uint8
GBA Oeste                                             100000 non-null uint8
Gran Buenos Aires                                     100000 non-null uint8
La Plata                                              100000 non-null uint8
Rosario                                               100000 non-null uint8
San Juan                                              100000 non-null uint8
Santa Cruz                                            100000 non-null uint8
Tucuman                                               100000 non-null uint8
Fines de Semana                                       100000 non-null uint8
Full-time                                             100000 non-null uint8
Part-time                                             100000 non-null uint8
Pasantia                                              100000 non-null uint8
Por Contrato                                          100000 non-null uint8
Por Horas                                             100000 non-null uint8
Primer empleo                                         100000 non-null uint8
Teletrabajo                                           100000 non-null uint8
Temporario                                            100000 non-null uint8
Voluntario                                            100000 non-null int64
Nivel_laboral_Gerencia / Alta Gerencia / Dirección    100000 non-null uint8
Nivel_laboral_Jefe / Supervisor / Responsable         100000 non-null uint8
Nivel_laboral_Junior                                  100000 non-null uint8
Nivel_laboral_Otro                                    100000 non-null uint8
Nivel_laboral_Senior / Semi-Senior                    100000 non-null uint8
dtypes: float64(1), int64(2), uint8(39)
memory usage: 6.0 MB

In [24]:
#Predict testing set:
dtest_predictions = clf.predict(testingSet_CON_NAN[columnas])
dtest_predprob = clf.predict_proba(testingSet_CON_NAN[columnas])[:,1]

In [25]:
testingSet_CON_NAN['sepostulo'] = dtest_predictions

In [13]:
testingSet_CON_NAN['sepostulo'].value_counts()

1    99419
0      581
Name: sepostulo, dtype: int64

In [14]:
submit = testingSet_CON_NAN[['sepostulo']]
submit.head()

   sepostulo
0          1
1          1
2          1
3          1
4          1

In [26]:
testingSet_CON_NAN['sepostulo'].value_counts()

1    99348
0      652
Name: sepostulo, dtype: int64

In [27]:
submit = testingSet_CON_NAN[['sepostulo']]
submit.head()

   sepostulo
0          1
1          1
2          1
3          1
4          1

In [29]:
#Primero volver a leer el testingSet del csv
submit.insert(0, 'id', testingSet_CON_NAN['id'])

In [30]:
submit.to_csv('Submit/prediccion29_LIGHTGBM_1.5M_dummies_over_sampling.csv',index=False)

# Hago over sampling

In [6]:
from sklearn.model_selection import train_test_split
columnas = trainingSet_samples.columns.drop("sepostulo")
x_train, x_val, y_train, y_val = train_test_split(trainingSet_samples[columnas], 
                                        trainingSet_samples['sepostulo'],test_size = .1,random_state=12)

In [ ]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=12, ratio = 1.0)
x_train_res, y_train_res = sm.fit_sample(x_train, y_train)

/home/lucio/Documentos/Datos/lib/python3.6/site-packages/sklearn/utils/deprecation.py:77: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)

In [7]:
from sklearn.metrics import recall_score
gbm0 = GradientBoostingClassifier(random_state=10)

#Fit the algorithm on the data
gbm0.fit(x_train_res, y_train_res)

print ('Validation Results')
print (gbm0.score(x_val, y_val))
y_pred = gbm0.predict(x_val)  #predicts
print('confusion matrix')
print(metrics.confusion_matrix(y_val, y_pred))
print('classification report')
print(metrics.classification_report(y_val, y_pred))
print("-----------------------------------------------------------------------------------------")
print("Accuracy is :")
print(metrics.accuracy_score(y_val, y_pred))
print('Area under the curve : %f' % (metrics.roc_auc_score(y_val, y_pred)))

Validation Results
0.5353
confusion matrix
[[29373 26289]
 [43416 50922]]
classification report
             precision    recall  f1-score   support

          0       0.40      0.53      0.46     55662
          1       0.66      0.54      0.59     94338

avg / total       0.56      0.54      0.54    150000

-----------------------------------------------------------------------------------------
Accuracy is :
0.5353
Area under the curve : 0.533743

# TestingSet

In [16]:
dtypes = pd.Series({'estado': CategoricalDtype(categories=['Abandonado', 'En Curso', 'Graduado'], 
                                               ordered=False), 'idpostulante': np.dtype('object'),
                    'nombre': CategoricalDtype(categories=['Doctorado', 'Master', 'Otro', 'Posgrado',
                            'Secundario','Terciario/Técnico', 'Universitario'],ordered=False),
                    'sexo': CategoricalDtype(categories=['FEM', 'MASC', 'NO_DECLARA'], ordered=False)})

dtypes_col = dtypes.index
dtypes_type = [i.name for i in dtypes.values]

column_types = dict(zip(dtypes_col, dtypes_type))

testingSet_CON_NAN = pd.read_csv('/home/lucio/Documentos/Datos/NaventDatosTP/TestingSets/testingSet_CON_NAN.csv',dtype=column_types)
testingSet_CON_NAN.drop('Unnamed: 0',inplace=True,axis=1)
testingSet_CON_NAN.drop(columns=['idpostulante','denominacion_empresa','nombre_area'],inplace=True) #No sirve para el algoritmo de ML

# Aplico dummificacion

In [9]:
testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.sexo))

testingSet_CON_NAN.drop('sexo',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nombre))

testingSet_CON_NAN.drop('nombre',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.estado))

testingSet_CON_NAN.drop('estado',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nombre_zona))

testingSet_CON_NAN.drop('nombre_zona',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.tipo_de_trabajo))

testingSet_CON_NAN.drop('tipo_de_trabajo',axis=1, inplace=True)

testingSet_CON_NAN = testingSet_CON_NAN.join(pd.get_dummies(testingSet_CON_NAN.nivel_laboral,
                                                             prefix="Nivel_laboral"))

testingSet_CON_NAN.drop('nivel_laboral',axis=1, inplace=True)

#testingSet_CON_NAN = trainingSet_samples.join(pd.get_dummies(trainingSet_samples.nombre_area))

In [10]:
# Get missing columns in the training test
missing_cols = set( trainingSet_samples.columns ) - set( testingSet_CON_NAN.columns )
# Add a missing column in test set with default value equal to 0
for c in missing_cols:
    testingSet_CON_NAN[c] = 0
# Ensure the order of column in the test set is in the same order than in train set
testingSet_CON_NAN = testingSet_CON_NAN[trainingSet_samples.columns]

In [15]:
testingSet_CON_NAN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
sepostulo                                             100000 non-null int64
edad                                                  93375 non-null float64
FEM                                                   100000 non-null uint8
MASC                                                  100000 non-null uint8
NO_DECLARA                                            100000 non-null uint8
Doctorado                                             100000 non-null uint8
Master                                                100000 non-null uint8
Otro                                                  100000 non-null uint8
Posgrado                                              100000 non-null uint8
Secundario                                            100000 non-null uint8
Terciario/Técnico                                     100000 non-null uint8
Universitario                                         100000 non-null uint8
Abandonado                                            100000 non-null uint8
En Curso                                              100000 non-null uint8
Graduado                                              100000 non-null uint8
Buenos Aires (fuera de GBA)                           100000 non-null uint8
Capital Federal                                       100000 non-null uint8
Catamarca                                             100000 non-null uint8
Cordoba                                               100000 non-null uint8
Corrientes                                            100000 non-null uint8
GBA Oeste                                             100000 non-null uint8
Gran Buenos Aires                                     100000 non-null uint8
La Plata                                              100000 non-null uint8
Rosario                                               100000 non-null uint8
San Juan                                              100000 non-null uint8
Santa Cruz                                            100000 non-null uint8
Tucuman                                               100000 non-null uint8
Fines de Semana                                       100000 non-null uint8
Full-time                                             100000 non-null uint8
Part-time                                             100000 non-null uint8
Pasantia                                              100000 non-null uint8
Por Contrato                                          100000 non-null uint8
Por Horas                                             100000 non-null uint8
Primer empleo                                         100000 non-null uint8
Teletrabajo                                           100000 non-null uint8
Temporario                                            100000 non-null uint8
Voluntario                                            100000 non-null int64
Nivel_laboral_Gerencia / Alta Gerencia / Dirección    100000 non-null uint8
Nivel_laboral_Jefe / Supervisor / Responsable         100000 non-null uint8
Nivel_laboral_Junior                                  100000 non-null uint8
Nivel_laboral_Otro                                    100000 non-null uint8
Nivel_laboral_Senior / Semi-Senior                    100000 non-null uint8
dtypes: float64(1), int64(2), uint8(39)
memory usage: 6.0 MB

# Aplico imputing a la edad

In [11]:
testingSet_CON_NAN['edad'].fillna(testingSet_CON_NAN['edad'].mode()[0],inplace=True)
testingSet_CON_NAN.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 42 columns):
sepostulo                                             100000 non-null int64
edad                                                  100000 non-null float64
FEM                                                   100000 non-null uint8
MASC                                                  100000 non-null uint8
NO_DECLARA                                            100000 non-null uint8
Doctorado                                             100000 non-null uint8
Master                                                100000 non-null uint8
Otro                                                  100000 non-null uint8
Posgrado                                              100000 non-null uint8
Secundario                                            100000 non-null uint8
Terciario/Técnico                                     100000 non-null uint8
Universitario                                         100000 non-null uint8
Abandonado                                            100000 non-null uint8
En Curso                                              100000 non-null uint8
Graduado                                              100000 non-null uint8
Buenos Aires (fuera de GBA)                           100000 non-null uint8
Capital Federal                                       100000 non-null uint8
Catamarca                                             100000 non-null uint8
Cordoba                                               100000 non-null uint8
Corrientes                                            100000 non-null uint8
GBA Oeste                                             100000 non-null uint8
Gran Buenos Aires                                     100000 non-null uint8
La Plata                                              100000 non-null uint8
Rosario                                               100000 non-null uint8
San Juan                                              100000 non-null uint8
Santa Cruz                                            100000 non-null uint8
Tucuman                                               100000 non-null uint8
Fines de Semana                                       100000 non-null uint8
Full-time                                             100000 non-null uint8
Part-time                                             100000 non-null uint8
Pasantia                                              100000 non-null uint8
Por Contrato                                          100000 non-null uint8
Por Horas                                             100000 non-null uint8
Primer empleo                                         100000 non-null uint8
Teletrabajo                                           100000 non-null uint8
Temporario                                            100000 non-null uint8
Voluntario                                            100000 non-null int64
Nivel_laboral_Gerencia / Alta Gerencia / Dirección    100000 non-null uint8
Nivel_laboral_Jefe / Supervisor / Responsable         100000 non-null uint8
Nivel_laboral_Junior                                  100000 non-null uint8
Nivel_laboral_Otro                                    100000 non-null uint8
Nivel_laboral_Senior / Semi-Senior                    100000 non-null uint8
dtypes: float64(1), int64(2), uint8(39)
memory usage: 6.0 MB

In [12]:
#Predict testing set:
dtest_predictions = gbm0.predict(testingSet_CON_NAN[columnas])
dtest_predprob = gbm0.predict_proba(testingSet_CON_NAN[columnas])[:,1]

In [14]:
#Predict testing set:
dtest_predictions = clf.predict(testingSet_CON_NAN[columnas])
dtest_predprob = clf.predict_proba(testingSet_CON_NAN[columnas])[:,1]

In [13]:
testingSet_CON_NAN['sepostulo'] = dtest_predictions

In [14]:
testingSet_CON_NAN['sepostulo'].value_counts()

0    51432
1    48568
Name: sepostulo, dtype: int64

In [15]:
submit = testingSet_CON_NAN[['sepostulo']]
submit.head()

   sepostulo
0          0
1          0
2          0
3          0
4          0

In [30]:
testingSet_CON_NAN['sepostulo'].value_counts()

1    98809
0     1191
Name: sepostulo, dtype: int64

In [26]:
testingSet_CON_NAN['sepostulo'].value_counts()

0    51432
1    48568
Name: sepostulo, dtype: int64

In [16]:
testingSet_CON_NAN['sepostulo'].value_counts()

0    100000
Name: sepostulo, dtype: int64

In [27]:
submit = testingSet_CON_NAN[['sepostulo']]
submit.head()

   sepostulo
0          0
1          0
2          0
3          0
4          0

In [17]:
#Primero volver a leer el testingSet del csv
submit.insert(0, 'id', testingSet_CON_NAN['id'])

In [30]:
submit.to_csv('Submit/prediccion29_LIGHTGBM_1.5M_dummies_over_sampling.csv',index=False)

In [18]:
submit.to_csv('Submit/prueba3.csv',index=False)